<% if f.object.image.attached? %>
	<img class="dropzone--dropped-image" src="<%= url_for(f.object.image.attachment.variant(resize_to_fit: [800, 600])) %>">
<% else %>
	<div data-reflex-permanent>
		<div
			class="dropzone dropzone-default dz-clickable"
			data-controller="dropzone"
			data-dropzone-max-file-size="1"
			data-dropzone-accepted-files="image/jpeg"
		>
			<%= f.send f.object.class.field_type, :image, multiple: false, direct_upload: true, data: { target: "dropzone.input" } %>
		   <div class="dropzone-msg dz-message needsclick">
		     <h3 class="dropzone-msg-title">Drop the file here or click to upload.</h3>
		     <span class="dropzone-msg-desc">Use the templates below to create the file, the maximum size is 5 MiB.</span>
		   </div>
		</div>
	</div>
<% end %>
