@import "~bootstrap/scss/bootstrap.scss";
@import "./actiontext.scss";

.block-group {
  background-color: #e9ecef;
  border-radius: .3rem;

  h5 {
    margin-bottom: 0;
  }
}

.sortable-ghost {
  opacity: 0.2;
}

trix-editor.form-control {
  overflow: auto;
  height: 300px;
}
