<% content_for :title do %>
	Post index
<% end %>

<% content_for :content do %>

<div class="row mb-5 mt-5">
	<div class="col-12">
		<h2>Todo's</h2>
		<ol>
			<li>send broadcast to notify user that page saved</li>
			<li>
				Add Field Types:
				<ul>
					<li>
						Image
						<ul>
							<li>Need to use reflex for submission as post needs to be saved via controller (right now) to attach image to model</li>
							<li>
								Checkout: https://www.dropzonejs.com/
								```
								// "myAwesomeDropzone" is the camelized version of the HTML element's ID
								Dropzone.options.myAwesomeDropzone = {
								  paramName: "file", // The name that will be used to transfer the file
								  maxFilesize: 2, // MB
								  accept: function(file, done) {
								    if (file.name == "justinbieber.jpg") {
								      done("Naha, you don't.");
								    }
								    else { done(); }
								  }
								};
								```

								Then change thumbail size:

								```
								Dropzone.options.myAwesomeDropzone = {
								  ....
								  thumbnailWidth: 250,
								  thumbnailHeight: 250,
								  ....
								}
								```
							</li>
						</ul>
					</li>
					<li>Gallery (including reordering</li>
					<li>Links</li>
				</ul>
			</li>
			<li>Change CTA to be more like Repeater, with definable fields, but limit groups to 1</li>
			<li>Nicer way of adding Repeater fields</li>
		</ol>
	</div>
</div>

<div class="row">
	<div class="col-12 mb-5">
		<table class="table">
			<thead>
				<th>ID</th>
				<th>Title</th>
				<th>Actions</th>
			</thead>
			<tbody>
				<% if @posts.any? %>
					<% @posts.each do |post| %>
						<tr>
							<td><%= post.id %></td>
							<td><%= post.title %></td>
							<td><%= link_to "Edit", edit_post_path(post), class: "btn" %></td>
						</tr>
					<% end %>
				<% else %>
					<td colspan="3">No Posts Found: <%= link_to "Add new", new_post_path %></td>
				<% end %>
			</tbody>
		</table>
	</div>
</div>
<% end %>
